{
  "gateway": {
    "mode": "local",
    "bind": "lan",
    "publicOrigin": "https://openclaw.{{ domain }}",
    "controlUi": {
      "allowedOrigins": [
        "https://openclaw.{{ domain }}"
      ]
    }
  },
  "plugins": {
    "deny": [
      "perplexity"
    ]
  },
  "auth": {
    "profiles": {
      "openrouter:default": {
        "provider": "openrouter",
        "mode": "api_key"
      }
    }
  }
}
